h2 {
    border: 2px solid blue;
}

li {
    color:blue;
    background-color: aqua;
}

table {
    border: 3px dotted aqua;
}

th {
    background-color: greenyellow;
    font-size: 30px;
}
td {
    background-color: bisque;
}